body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.bgimg{

  background-image: url("./Components/Images/bgimg.jpeg");
  background-size: cover;
  background-position: center;
}
span{
  color: #f9822a;
}
.btn{
  margin-bottom: 50px;
}

.sec3img{
  background-image: url("./Components/Images/stage.webp");
  background-size:contain;
  /* background-repeat: no-repeat; */
  background-position: center;
  /* height: 100vh; */
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,.7);

}

a{
  text-decoration: none;
}